head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Nineveh Volunteer Fire
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    style.
      body {
        padding-top: 0px;
        padding-bottom: 20px;
      }
      .v-center {
        display:table;
        height:300px;
      }
      .content {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
      }
      #topper {
        width: 500px;
        height: 300px;
      }
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')