doctype html
//if lt IE 7
  html(class="no-js ie6 oldie", lang="en")
//if IE 7
  html(class="no-js ie7 oldie", lang="en")
//if IE 8
  html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]
  
  include head.jade

  body
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    include jumbotron.jade
    
    div(id="wrapper") 
        
        //Fixed Sidebar
        include sidenavbar.jade 
        
        //Page Content
        div(id="page-content-wrapper")
        
            .content-header
                a(id="menu-toggle" href="#" class="btn btn-default")
                    i(class="icon-reorder")
            
            //All Page Content Goes Here
            .page-content.inset
                .row
                    h2.text-center About the Station
                    img(src='./img/fire_station1.jpg' alt='Nineveh Fire Station').col-xs-8.img-responsive.img-rounded
        
                    .col-sm-4.v-center
                    p.content  This is some text about the Nineveh Fire Station. As you can tell, it's some really fucking awesome shit going on over there. There's a fucking flag, for fuck's sake. Flapping all the fuck over. Freedom. That's what's up.
      
                hr
      
                .row
                    h2.text-center Meet the Firefighters
                    p.text-center
                    | WE ARE LEGION
                    | WE ARE NINEVEH
          
                hr
      
                .row
                    .col-sm-6  
                        h2.text-center Blog
                        p
                            | tumblr feed/featured story
                            br
                            | link to read more moves you to the embedded tumblr page
                    .col-sm-6  
                        h2.text-center Social
                        p.text-center
                            | FAKKBUK
                            br
                            | TWEETERER
                            br
                            | BBM (CUZ RIM FTW)
          
                hr
      
                .row
                    h2.text-center Sponsors
      
                hr
      
                .row
                    h2.text-center Contact
      
                hr
                footer
                    p © Suttl 2014
    //
       /container 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\\/script>')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/plugins.js')
    script(src='js/main.js')
    //
       Google Analytics: change UA-XXXXX-X to be your site's ID. 
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
