doctype html
//if lt IE 7
  html(class="no-js ie6 oldie", lang="en")
//if IE 7
  html(class="no-js ie7 oldie", lang="en")
//if IE 8
  html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]
  
  include head

  body
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    
    div(id="wrapper") 
        
        //Fixed Sidebar
        include sidenavbar.jade 
        include jumbotron.jade
        
        hr
        
        //Page Content
        #page-content-overlay
        div(id="page-content-wrapper")
            a(id="menu-toggle" href="#" class="btn btn-default")
                    i(class="fa fa-bars")
            
            //All Page Content Goes Here
            .page-content.inset
                .row(id='about')
                    h2.text-center About the Station
                    img(src='./img/fire_station1.jpg' alt='Nineveh Fire Station').col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-0.img-responsive.img-rounded
        
                    .col-xs-12.col-sm-4.v-center
                        .content
                            h3
                                | Ninevah Fire Department serves
                            p
                                | a population of nearly 1,000
                                | people in Southern Johnson
                                | County.
                            p
                                | This all-volunteer department responds from a single station in a mixed rural and residential district. Nineveh provides Fire and Rescue response to nearly 1,000 residents over 15 square miles.


      
                hr
      
                .row(id='meet')
                    h2.text-center Meet the Firefighters
                    .headshots.col-xs-12
                        .headshot.img-circle.col-sm-3.col-xs-4
                            img(src='./img/firefighters/headshots/shot1.jpg').img-responsive.img-circle
                        .headshot.img-circle.col-sm-3.col-xs-4
                            img(src='./img/firefighters/headshots/shot2.jpg').img-responsive.img-circle
                        .headshot.img-circle.col-sm-3.col-xs-4
                            img(src='./img/firefighters/headshots/shot3.jpg').img-responsive.img-circle
                        .headshot.img-circle.col-sm-3.col-xs-4
                            img(src='./img/firefighters/headshots/shot4.jpg').img-responsive.img-circle
                        .headshot.col-sm-3.col-xs-4
                            img(src='./img/firefighters/headshots/shot5.jpg').img-responsive.img-circle
                        .headshot.img-circle.col-sm-3.col-xs-4
                            img(src='./img/firefighters/headshots/shot6.jpg').img-responsive.img-circle
          
                hr
                
                .row(id='events')
                    h2.text-center Events
                    .col-xs-12.col-sm-8.col-sm-offset-2.calendarSpace
                
                hr
      
                .row
                    .col-sm-6(id='blog')
                        h2.text-center Blog
                        .feature-post
                            p
                                | This week is Dispatcher appreciation week. The Nineveh Fire Dept. would like to thank the Johnson County PSAP communication center. It's not easy managing the chaos that can happen without a moments notice. Also would like to point out and thank one of our own. Assistant Chief Josh Elmore who works as a dispatcher at the JoCo PSAP. We appreciate what you all do. Thank you
                            a(href='')
                                p Read more blog posts...
                    .col-sm-6(id='social')
                        h2.text-center Social
                        include twitterfeed
                    .col-sm-12
                        p.text-center(style='font-size: 2.5em')
                            br
                            a(href='https://www.facebook.com/pages/Nineveh-Fire-Dept/178061308872956')
                                i.fa.fa-facebook &nbsp;
                            a(href='https://twitter.com/NinevehFire')
                                i.fa.fa-twitter &nbsp;
                            a(href='')
                                i.fa.fa-tumblr
                            
          
                hr
      
                .row(id='sponsors')
                    h2.text-center Sponsors
      
                hr
                footer
                    p © Suttl 2014
    //
       /container 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\\/script>')
    script(src='js/vendor/bootstrap.min.js')
    script(src='bower_components/moment/min/moment.min.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='js/plugins.js')
    script(src='js/main.js')
    script.
        $(".jumbotron").backstretch("img/fire_engine1.jpg");

    //
       Google Analytics: change UA-XXXXX-X to be your site's ID. 
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
