.container-fluid(role="navigation")
  .row
    .col-sm-3.col-md-2.sidebar
      .nav.nav-sidebar
        ul
            li.active
                a(href="#") Nineveh Fire Department
            li
                a(href="#") Contact Info
            li
                a(href="#") About
            li
                a(href="#") Fighters
            li
                a(href="#") Sponsors
            li
                a(href="#") Events
            li
                a(href="#") Social
            li
                a(href="#") Blog