div(id="sidebar-wrapper" role="navigation")
        a(href="#")
            img(src="./img/nineveh_logo.gif" alt="Nineveh Logo")
        ul.sidebar-nav
            a(href='#')
                li Contact
            a(href='#')
                li About
            a(href='#')
                li Meet the Firemen
            a(href='#')
                li Sponsors
            a(href='#')
                li Events
            a(href='#')
                li Social
            a(href='#')
                li Blog