div(id="sidebar-wrapper" role="navigation")
        ul.sidebar-nav
            li.sidebar-brand
                a(href="#") Nineveh Fire Department
            li
                a(href="#") Contact Info
            li
                a(href="#") About
            li
                a(href="#") Fighters
            li
                a(href="#") Sponsors
            li
                a(href="#") Events
            li
                a(href="#") Social
            li
                a(href="#") Blog