div(id="sidebar-wrapper" role="navigation")
        a(href="#")
            img(src="./img/nineveh_logo.gif" alt="Nineveh Logo")
        ul.sidebar-nav
            li
                a.navscroll(href="#about") About
            li
                a.navscroll(href="#meet") Meet the Firemen
            li
                a.navscroll(href="#events") Events
            li
                a.navscroll(href="#social") Social
            li
                a.navscroll(href="#blog") Blog
            li
                a.navscroll(href="#sponsors") Sponsors
        //ul.sidebar-contact
            //li
                //a(href="#") Contact
            //li
                //a(href="#") Emergency: 911
            //li
               //a(href="#") Station: 1-111-111-1111
            //li
                //a(href="#") Email: contact@ninevehfire.com
