div(id="sidebar-wrapper" role="navigation")
        a(href="#")
            img(src="./img/nineveh_logo.gif" alt="Nineveh Logo")
        ul.sidebar-nav
            li
                a(href="#") Contact
            li
                a(href="#") About
            li
                a(href="#") Meet the Firemen
            li
                a(href="#") Sponsors
            li
                a(href="#") Events
            li
                a(href="#") Social
            li
                a(href="#") Blog