div(id="sidebar-wrapper" role="navigation")
        div(id='navlogo')
            a(href="#")
                img(src="./img/nineveh_logo.gif" alt="Nineveh Logo")
        ul.sidebar-nav
            li
                a.navscroll(href="#about") About
            li
                a.navscroll(href="#meet") Meet the Firemen
            li
                a.navscroll(href="#events") Events
            li
                a.navscroll(href="#blog") Blog
            li
                a.navscroll(href="#social") Social
            li
                a.navscroll(href="#sponsors") Sponsors
            li
                a.navscroll(href="#joinUs") Join Us
        ul.sidebar-contact
            li
                a(href="tel:+13179332567") Station Ph. #: +1 (317) 933-2567
            li
                a(href="mailto:contact@ninevahfire.com") Email: 
                    | contact@ninevehfire.com
            li
                a
                    | Fax #: +1 (317) 933-2509
            
